@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.body-bg {
  background: linear-gradient(135deg, rgb(0, 219, 255), rgb(9, 69, 102));
}

.bg-card {
  background-color: #eee;
}

.bg-btn-nopress {
  background: rgb(34, 82, 111);
  transition: background 0.3s;
}

.bg-btn-press {
  background: rgb(9, 69, 102);
}

.result-text {
  color: rgb(0, 219, 255);
}

@keyframes prizeReveal {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  60% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-prizeReveal {
  animation: prizeReveal 0.6s ease;
}